<div class="row my-3">
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <p class="card-text">
        {{content}}
      </p>
    </div>
    <div class="card-footer text-muted">
      Posted by {{user.username}} on {{format_date createdAt}}
    </div>
  </div>
</div>
{{#if logged_in}}
<div class="row">
  <form id="comment-form">
    <label for="create-post-content" class="form-label">Comment Here</label>
    <div class="form-floating">
      <textarea class="form-control" id="comment-text-area" style="height: 100px"></textarea>
    </div>
    <button id="comment-submit" class="my-3" data-id="{{id}}">Submit Comment</button>
  </form>
</div>
{{/if}}

{{#each Comments as |comment|}}
  <div class="row my-1">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{comment.content}}</p>
      </div>
      <div class="card-footer text-muted" style="background-color: #dcd0ff;">
        Posted by {{comment.user.username}} on {{format_date comment.createdAt}}
        {{!-- <br><br> --}}
        {{!-- <button id="edit-comment-{{comment.id}}" data-id="{{comment.id}}">Edit</button>
        <button id="delete-comment-{{comment.id}}" style="background-color: red;" data-id="{{comment.id}}">Delete</button> --}}
      </div>
    </div>
  </div>
{{/each}}

<script src="/js/comment.js"></script>