<div class="row my-3">
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <p class="card-text">
        {{content}}
      </p>
    </div>
    <div class="card-footer text-muted">
      Posted by {{user.username}} on {{format_date createdAt}}
    </div>
  </div>
</div>
<div class="row">
  <form id="comment-form">
    <label for="create-post-content" class="form-label">Comment Here</label>
    <div class="form-floating">
      <textarea class="form-control" id="comment-text-area" style="height: 100px"></textarea>
    </div>
    <button id="comment-submit" class="my-3" data-id="{{id}}">Submit Comment</button>
  </form>
</div>

{{#each comments as |comment|}}
  <div class="row my-1">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{comment.content}}</p>
      </div>
      <div class="card-footer text-muted">
        Posted by {{comment.user.username}} on {{format_date comment.createdAt}}
      </div>
    </div>
  </div>
{{/each}}

 {{! -- TODO if the current user is the one who created the blog post then the delete button will show --}}
<button class="delete-post-button" data-id="{{blog.id}}">Delete Post</button>

{{!-- <script src="./js/delete.js"></script> --}}