<div class="row">
  <div class="card my-3">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <textarea class="form-control" id="edit-blog-textarea" style="height: 100px">{{content}}</textarea>
    </div>
    <div class="card-footer text-muted">
      <button id="edit-blog-save-button" data-id="{{id}}">Save Blog</button>
      <button id="delete-post-button" data-id="{{id}}" style="background-color: red;">Delete Blog</button>
    </div>
  </div>
</div>

{{!-- {{#each Comments as |comment|}}
  <div class="row my-1">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{comment.content}}</p>
      </div>
      <div class="card-footer text-muted" style="background-color: #dcd0ff;">
        Posted by {{comment.user.username}} on {{format_date comment.createdAt}}
        <br><br>
        <button id="edit-comment-{{comment.id}}" data-id="{{comment.id}}">Edit</button>
        <button id="delete-comment-{{comment.id}}" style="background-color: red;" data-id="{{comment.id}}">Delete</button>
      </div>
    </div>
  </div>
{{/each}} --}}

<script src="/js/delete.js"></script>
<script src="/js/update.js"></script>
{{!-- <script src="/js/comment.js"></script> --}}